.header__navbar {
    list-style: none;
    margin: 0;
    white-space: nowrap;

    li {
        display: inline;

        a {
            color: $darkblue;
        }
    }

    li:nth-child(n+2) {
        margin-left: 40px;
        
        @media screen and (max-width: 1025px){
            margin-left: 20px;
        }
    }

    li:nth-last-child(1) {
        margin-right: 25px;
    }
}