.menu-icon {
    position: absolute;
    top: 22px;
    right: 25px;
    z-index: 101;

    button {
        padding: 5px;
        border: 0;
        background: transparent;
        color: $darkblue;
    }

    i {
        font-size: 30px;

        &:hover {
            color: $blue;
        }
    }


    @media screen and (min-width: 768px) {
        display: none;
    }
}