.mobile-hidden {
   visibility: visible;
}

.tablet-hidden {
   visibility: visible;
}

@media screen and (max-width : 767px) {

    .mobile-hidden {
        visibility: hidden;
        display: none;
    }
}

@media screen and (max-width : 1024px) {

    .tablet-hidden {
        visibility: hidden;
        display: none;
    }
}