@import "teams__heading.scss";
@import "teams__team-types.scss";
@import "teams__arrow.scss";
@import "teams__team-btn.scss";
@import "teams__text-desc.scss";
@import "teams__text-learn.scss";


.teams__wrapper {
    background: url(/assets/img/teams-bg.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 406px;
    margin-top: 3%;
    padding-top: 129px;
}

.teams {
    text-align: center;
}

.teams__text-desc {
    margin: 40px auto 15px;
    max-width: 640px;
}
