    .teams__team-btn {
            position: relative;
            width: 220px;
            height: 57px;
            margin: 0 5px;
            border: 1px solid rgba(119, 127, 136, 0.2);
            border-radius: 6px;
            font-size: 16px;
            font-weight: 400;
            color: $grey;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: initial;

            @media screen and (max-width: 1200px) {
                width: 165px;
                height: 43px;
                font-size: 12px;
            }

            @media screen and (max-width: 580px) {
                width: 124px;
                height: 33px;
                font-size: 9px;
            }
    }


    .teams__team-btn:hover {
        color: $blue;
        border: 1px solid rgba(119, 127, 136, 1);
    }