    .teams__team-btn {
            position: relative;
            width: 220px;
            height: 57px;
            margin: 0;
            border: 1px solid rgba(119, 127, 136, 0.2);
            border-radius: 6px;
            color: $grey;

    }