.subscription__plan-item {
    background: #fff;
    border-radius: 6px;
    max-width: 340px;
    flex-basis: 340px;
    padding: 25px 0;
    margin: 0 3px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.15);

    h3 {
        font-size: 48px;
        color: #0960BD;
        margin-bottom: 2%;
    }

    p {
        margin-bottom: 0;
        color: $grey;
    }
}

@media screen and (max-width: 1024px) {
    .subscription__plan-item {
        max-width: 255px;
        flex-basis: 255px;
        padding: 19px 0;
    
        h3 {
            font-size: 36px;
            margin-bottom: 2%;
        }
    
        p {
            margin-bottom: 0;
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 768px) {
    .subscription__plan-item {
        max-width: 170px;
        flex-basis: 170px;
        padding: 13px 0;
    
        h3 {
            font-size: 24px;
            margin-bottom: 2%;
        }
    
        p {
            margin-bottom: 0;
            font-size: 11px;
        }
    }
}