.subscription__plan-item {
    background: #fff;
    border-radius: 6px;
    max-width: 340px;
    flex-basis: 340px;

    h3 {
        font-size: 48px;
        color: #0960BD;
        margin-bottom: 23px;
    }

    p {
        margin-bottom: 23px;
        color: $grey;
    }
}