.subscription__heading {
    color: white;

    span {
        background: url(../assets/img/subscription-word-shadow.svg) no-repeat;
        background-size: 100%;
        background-position-y: bottom;
    }
}