.app-showcase__heading {

        span {
            background: url(../assets/img/teams-word-shadow.svg) no-repeat;
            background-position-y: 0%;
            background-size: 100%;
            background-position-y: bottom;
        }
}