.app-showcase__figure {
    margin: 0;
    width: 20%;
    background: white;
    padding-bottom: 8%;
    border-bottom: 1px solid rgba(119, 127, 136, 0.2);

    figcaption {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;

        @media screen  and (max-width: 1024px) {
            font-size: 13px;
        }

        @media screen  and (max-width: 580px) {
            font-size: 8px;
            width: 15%;
        }
    }

    img {
        margin: 60px auto 0;

        @media screen  and (max-width: 1024px) {
            margin: 20px auto 0;
        }
    }
}

#figure1 {
    filter: grayscale(100%);

    &:hover {
        filter: none;
    }

    &:hover .app-showcase__figure {
        
    border-bottom: 2px solid rgba(119, 127, 136, 0.2);
    }
}
