@import 'footer__col.scss';

.footer-wrapper {
    background: url(../assets/img/footer-bg.svg) no-repeat;
    margin-top: 70px;
    padding: 70px 0;
}

.footer {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 420px){
        padding: 0 2px;
        word-wrap: break-word;
    }
}